.body {
  background-color: black;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* input */


#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }

    .pagination-wrap{ 
      margin:auto;
      text-align:center;
     }
     .pagination-v1 > li > a, 
     .pagination-v1 > li > span {
       background-color: #ea5745;
       border: 1px solid #ea5745;
       border-radius: 4px;
       color: #fff;
       float: left;
       font-size: 14px;
       line-height: 1.42857;
       margin-right: 5px;
       padding: 8px 15px;
       position: relative;
       text-decoration: none;
     }

     /* Footer */
     .footer {position: relative;width: 100%;min-height: 200px;background: #000000;padding: 10px 0;z-index: 1;}
     .footer .social-area {margin-top: 90px;width: 40%;}
     .footer .social-area ul {z-index: 1;display: block;width: 100%;padding: 0;text-align: right;position: absolute;right: 7%;box-sizing: border-box;}
     .footer .social-area ul li {display: inline-block;text-align: center;line-height: 0;}
     .footer .social-area ul li a {font-size: 28px;font-weight: 600;text-transform: uppercase;color: #FFFFFF;text-decoration: none;}
     .footer .social-area ul li a i {display: block;margin-left: 20px;padding: 0 20px;text-align: center;}
     .footer .shr-btn-facebook:hover {color:#3b5998;}
     .footer .shr-btn-instagram:hover {color:#3F729B;}
     .footer .shr-btn-behance:hover {color:#1769FF;}
     .footer .shr-btn-soundcloud:hover {color:#F76700;}
     .footer .social-area ul li a span {display: none;}
     .footer .credits {font-weight: normal;position: absolute;width: 100%;color:#474747;text-align: center;text-transform: uppercase;font-size: 20px;line-height: 1px;padding: 0;}
     .footer .credits p {position: absolute;text-align: left;text-transform: uppercase;font-size: 20px;line-height: 1px;padding: 0;left: 9%;}
     .footer-white {color:#fff;font-weight: normal;}
     .slice-footer {width: 250px;height: 100px;margin-top: -45px;}
     
     
     .card bg-dark mb-3 {
      max-width: 540px;
     }
     
     
     
     
     
     
     
     
     
     
     
     